
@import '../node_modules/material-design-lite/material.min.css';


body {
  background: rgba(black, 0.8);
}

.mld-layout_header , .mdl-layout__header-row {
  background-color: midnightblue !important;
}

.content-grid div {
  color: white;
  min-height: 300px;
  background: rgba(black, 0.2);
  text-align: center;
  canvas{    border: solid 1px rgba(white, 0.4); }
}



#webgl-container {
  text-align: center;
  padding: 5%;
}

